<h1>Detail Component</h1>

<div class="card">
  <container-element [ngSwitch]="card?.data.type">
    <app-text *ngSwitchCase="'Text'" [data]="card.data"></app-text>
    <app-table *ngSwitchCase="'Table'" [data]="card.data"></app-table>
    <app-chart *ngSwitchCase="'Chart'" [data]="card.data"></app-chart>
    <div *ngSwitchDefault>
      No card found (they will be retreived after visiting the layout page)
    </div>
  </container-element>
</div>

<p><button (click)="goBack()">Go back</button></p>
