<h1>Layout Component</h1>

<button (click)="addSomeCard()">Add a random card</button>
&nbsp;
<button (click)="removeLastCard()">Remove the last card</button>

<div class="cards">
  <ng-container *ngFor="let cardData of cardDataList$ | async">
    <container-element [ngSwitch]="cardData.data.type">
      <app-text
        *ngSwitchCase="'Text'"
        [data]="cardData.data"
        (click)="viewDetailPage(cardData.id)"
      ></app-text>
      <app-table
        *ngSwitchCase="'Table'"
        [data]="cardData.data"
        (click)="viewDetailPage(cardData.id)"
      ></app-table>
      <app-chart
        *ngSwitchCase="'Chart'"
        [data]="cardData.data"
        (click)="viewDetailPage(cardData.id)"
      ></app-chart>
    </container-element>
  </ng-container>
</div>
