.cards {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 0 0 45%;
    border: 1px solid blue;
    border-radius: 10px;
    background: rgb(209, 227, 255);
    margin: 15px;
    padding: 15px;

    &:hover {
      background: rgb(158, 197, 255);
      cursor: pointer;
      transition: 0.3s all;
    }
  }
}
