<h3>Table</h3>
<h4>{{ data.tableHeader }}</h4>
<table>
  <tr>
    <td>1.</td>
    <td>Appel</td>
  </tr>
  <tr>
    <td>2.</td>
    <td>Banaan</td>
  </tr>
  <tr>
    <td>3.</td>
    <td>Citroen</td>
  </tr>
</table>
